@import url("https://fonts.googleapis.com/css2?family=Mynerve&display=swap");

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: Mynerve, sans-serif;
  background-image: linear-gradient(25deg, #111538, #204660, #247d8a, #16b8b7);
}

h1 {
  font-size: 5rem;
  letter-spacing: 4px;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
}

.loader img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15rem;
  height: 15rem;
}

.img-container {
  margin: 2rem 30%;
}

.img-container img {
  width: 100%;
  margin-top: 0.5rem;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.8rem;
  }
  .img-container {
    margin: 1rem;
  }
} ;
